<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla :: head">
        <title>Login</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>

        <section id="actions" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <!--se pueden agregar botones-->
                </div>
            </div>
        </section>

        <section id="login">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mx-auto">
                        <div class="card">
                            <div class="card-header text-center">
                                <h4>Inicio de sesión</h4>
                            </div>
                            <div class="card-body">
                                <form method="POST" th:action="@{/login}">
                                    <div class="form-group">
                                        <label for="username">Username:</label>
                                        <input type="text" class="form-control" name="username" id="username"/>
                                    </div>
                                    <br/>
                                    <div class="form-group">
                                        <label for="password">Password:</label>
                                        <input type="password" class="form-control" name="password" id="password"/>
                                    </div>
                                    <br/>
                                    <div class="d-grid grip-2">
                                        <button class="btn btn-primary" type="submit">[[#{barra.entrar}]]</button>
                                        <!-- comment <input type="submit" value="Login" class="btn btn-primary btn-block"/>-->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
